<footer class="footer animate__animated animate__flipInX">
  <div class="site-footer">
    <p><%- themeConfig.footerInfo %></p>
    <p>© <%= themeConfig.siteName %> · Powered by <a href="https://gridea.dev/">Gridea</a> & <a href="https://github.com/xxxuuu/gridea-theme-autumn">Autumn</a> | <a class="rss" href="<%= themeConfig.domain %>/atom.xml" target="_blank">RSS</a></p>
  </div>
</footer>
